<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rezervasyon Web Uygulamasının Kullanıcı Dashboard panelinde bulunmaktasınız. Aşağıda sizin ve acentamızın bazı istatistik bilgileri yer almaktadır. Bu istatistiklerin sizlerle beraber artmasını temenni ediyoruz. Gezi dolu daha nice günlerle görüşmek dileğiyle.</p>
                <h4 class="card-title">......</h4>
                <h4 class="card-title">İstatistikler</h4>
                <h6>Toplam Rezervasyonlar: @ViewBag.reservation</h6>
                <h6>Toplam Yorum sayısı: @ViewBag.comment</h6>
                <h6>Toplam Rehber Sayısı: @ViewBag.guide</h6>
                <h6>Toplam Rota Sayısı: @ViewBag.route</h6>
                <h6>Toplam Duyuru Sayısı: @ViewBag.announcement</h6>
                <h6>Toplam Üye Sayısı: @ViewBag.users</h6>
                <h6>Ortalama Puanımız: @ViewBag.score</h6>

            </div>
        </div>
    </div>
</div>

