@model EntityLayer.Concrete.Guide
@{
    ViewData["Title"] = "UpdateGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rehber Güncelleme Sayfası</h1>

<form method="post">
    @Html.HiddenFor(X=>X.GuideID)
    <div class="form-group">
        @Html.Label("Ad Soyad")
        <input type="text" asp-for="GuideName" class="form-control" />
        <span asp-validation-for="GuideName" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Görsel")
        <input type="text" asp-for="GuideImageUrl" class="form-control" />
        <span asp-validation-for="GuideImageUrl" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Instagram Url")
        <input type="text" asp-for="GuideInstagram" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Twitter Url")
        <input type="text" asp-for="GuideTwitter" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        @Html.Label("Açıklama")
        <textarea cols="30" rows="6" class="form-control" asp-for="GuideDesc"></textarea>
        <span asp-validation-for="GuideDesc" class="text-danger"></span>
    </div>
    <br />
    <button class="btn btn-outline-success">Rehber Güncelle</button>
</form>
